.gallery{
    border: 1px solid;
    // height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 12px;

    .left-side{
        width: 69%;
        // border: 1px solid;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .img-with-title{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 290px;
            // height: 291.2px;
            gap: 25px;
            // border: 1px solid red;
            img{
                width: 100%;
                border-radius: 20px;
                object-fit: cover;
            }

            .text-box{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                gap: 15px;

                h3{
                    width: 435px;
                    height: 29px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 29px;
                    letter-spacing: -0.04em;
                    color: #000000;
                }

                p{
                    width: 510px;
                    height: 56px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                    color: rgba(0, 0, 0, 0.6);
                }
            }

            .author-img{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                gap: 20px;

                span{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    padding-right: 20px;
                    border-right: 1px solid rgba(0, 0, 0, 0.1);
                    img{
                        width: 40px;
                        height: 40px;
                    }

                    h3{
                        width: 123px;
                        // border: 1px solid;
                        height: 19px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 19px;
                        letter-spacing: -0.02em;
                        color: #000000;
                    }
                }

                h4{
                    width: 121px;
                    height: 17px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: -0.02em;
                    color: rgba(0, 0, 0, 0.6);
                }
            }
        }
    }

    .right-side{
        width: 30%;
        // border: 1px solid green;
        display: flex;
        flex-direction: column;
        gap: 20px;
        h2{
            width: 201px;
            height: 39px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 39px;
            letter-spacing: -0.04em;
            color: #000000;
        }

        .img-text-box{
            display: flex;
            flex-direction: row;
            gap: 20px;
            border: 1px solid;

            img{
                width: 180px;
                // height: 174.72px;
                border-radius: 20px;
            }

            span{
                width: calc(100%-180px);
                display: flex;
                border: 1px solid;
                flex-direction: column;

                h3{
                    width: 196px;
                    height: 56px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 28px;
                    letter-spacing: -0.04em;
                    color: #000000;
                }

                h4{
                    width: 113px;
                    height: 17px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    /* identical to box height */
                    
                    letter-spacing: -0.02em;
                    
                    color: rgba(0, 0, 0, 0.6);
                }
            }
        }
    }
}