.header {
  gap: 150px;
}
.header .title {
  display: flex;
  flex-direction: row;
}
.header .title a {
  text-decoration: none;
  font-family: "Lobster", cursive;
  width: 130px;
  height: 30px;
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
.header .title a b {
  color: #FF7426;
}
.header .menu {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 505px;
  height: 19px;
  gap: 30px;
  position: relative;
  top: 10px;
}
.header .menu li {
  list-style: none;
}
.header .menu li a {
  text-decoration: none;
  width: 45px;
  height: 19px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #000000;
}
.header .social-network {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}
.header .social-network a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.row .col-5 {
  width: 610px;
  height: 640px;
  background-image: url("../assets/box-one/Rectangle 1 (1).png");
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 50px;
}
.row .col-5 .hot-recipes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 156px;
  height: 45px;
  background-color: #FFFFFF;
  border-radius: 30px;
}
.row .col-5 .hot-recipes a {
  text-decoration: none;
  width: 79px;
  height: 17px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  letter-spacing: -0.02em;
  color: #000000;
}
.row .col-5 h1 {
  width: 520px;
  height: 154px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: -0.04em;
  color: #000000;
}
.row .col-5 p {
  width: 530px;
  height: 56px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.6);
}
.row .col-5 .watch-fork {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.row .col-5 .watch-fork .minutes {
  width: 139px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.row .col-5 .watch-fork .minutes a {
  font-size: 18px;
  color: black;
}
.row .col-5 .watch-fork .minutes h4 {
  width: 73px;
  height: 17px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.6);
}
.row .col-5 .watch-fork .chicken {
  width: 119px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.row .col-5 .watch-fork .chicken a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.row .col-5 .watch-fork .chicken h4 {
  width: 53px;
  height: 17px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.6);
}
.row .col-5 .johnSmith {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 150px;
}
.row .col-5 .johnSmith .img-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.row .col-5 .johnSmith .img-text img {
  width: 50px;
  height: 50px;
}
.row .col-5 .johnSmith .img-text .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.row .col-5 .johnSmith .img-text .text h3 {
  width: 86px;
  height: 19px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #000000;
}
.row .col-5 .johnSmith .img-text .text h4 {
  width: 97px;
  height: 17px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  /* identical to box height */
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.6);
}
.row .col-5 .johnSmith .play-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  background-color: #000000;
  border-radius: 16px;
}
.row .col-5 .johnSmith .play-btn a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  width: 118px;
  height: 17px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.row .col-5 .johnSmith .play-btn a:hover i {
  transform: rotate(180deg);
  transition: 0.8s;
}
.row .col-5 .johnSmith .play-btn a i {
  font-size: 18px;
}
.row .col-6 {
  width: 602px;
  height: 640px;
  background-color: #FF7426;
  background-image: url("../assets/box-one/baked-chicken-wings-asian-style-tomatoes-sauce-plate 1.png");
  border-radius: 0px 50px 50px 0px;
  position: relative;
}
.row .col-6 .center-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  position: absolute;
  left: -70px;
  top: 50px;
  background-image: url("../../assets/box-one/[Linked] Ellipse 3.png");
}
.row .col-6 .center-circle .thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-image: url("../../assets/box-one/[Linked] Ellipse 4.png");
}
.row .col-6 .center-circle .thumb:hover {
  transform: scale(1.13);
  transition: 0.4s;
}
.row .col-6 .center-circle .thumb img {
  width: 50px;
  height: 50px;
}

.box-two {
  gap: 100px;
}
.box-two .categories h1 {
  width: 238px;
  height: 58px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #000000;
}
.box-two .categories span {
  width: 200px;
  height: 60px;
  background-color: #E7FAFE;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-two .categories span h3 {
  width: 146px;
  height: 19px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #000000;
  cursor: pointer;
}
.box-two .vegetable-imgs {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.box-two .vegetable-imgs .breakfast {
  width: 180px;
  height: 152px;
  background: linear-gradient(180deg, rgba(112, 130, 70, 0) 0%, rgba(112, 130, 70, 0.1) 100%);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.box-two .vegetable-imgs .breakfast img {
  position: absolute;
  top: -40px;
}
.box-two .vegetable-imgs .breakfast h3 {
  position: absolute;
  bottom: 20px;
  width: 81px;
  height: 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000000;
}
.box-two .vegetable-imgs .vegan {
  width: 180px;
  height: 152px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background: linear-gradient(180deg, rgba(108, 198, 63, 0) 0%, rgba(108, 198, 63, 0.1) 100%);
}
.box-two .vegetable-imgs .vegan img {
  position: absolute;
  top: -40px;
}
.box-two .vegetable-imgs .vegan h3 {
  position: absolute;
  bottom: 20px;
  width: 81px;
  height: 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000000;
}
.box-two .vegetable-imgs .meat {
  width: 180px;
  height: 152px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background: linear-gradient(180deg, rgba(204, 38, 27, 0) 0%, rgba(204, 38, 27, 0.1) 100%);
}
.box-two .vegetable-imgs .meat img {
  position: absolute;
  top: -40px;
}
.box-two .vegetable-imgs .meat h3 {
  position: absolute;
  bottom: 20px;
  width: 81px;
  height: 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000000;
}
.box-two .vegetable-imgs .dessert {
  width: 180px;
  height: 152px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background: linear-gradient(180deg, rgba(240, 158, 0, 0) 0%, rgba(240, 158, 0, 0.1) 100%);
}
.box-two .vegetable-imgs .dessert img {
  position: absolute;
  top: -40px;
}
.box-two .vegetable-imgs .dessert h3 {
  position: absolute;
  bottom: 20px;
  width: 81px;
  height: 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000000;
}
.box-two .vegetable-imgs .lunch {
  width: 180px;
  height: 152px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
}
.box-two .vegetable-imgs .lunch img {
  position: absolute;
  top: -40px;
}
.box-two .vegetable-imgs .lunch h3 {
  position: absolute;
  bottom: 20px;
  width: 81px;
  height: 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000000;
}
.box-two .vegetable-imgs .chocolate {
  width: 180px;
  height: 152px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
}
.box-two .vegetable-imgs .chocolate img {
  position: absolute;
  top: -40px;
}
.box-two .vegetable-imgs .chocolate h3 {
  position: absolute;
  bottom: 20px;
  width: 81px;
  height: 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000000;
}

.box-three {
  justify-content: space-between;
  gap: 100px;
}
.box-three .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box-three .title h1 {
  width: 526px;
  height: 58px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #000000;
}
.box-three .title p {
  width: 706px;
  height: 56px;
  left: 364px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
.box-three .food-imgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.box-three .food-imgs .col-4 {
  width: 400px;
  height: 434px;
  background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.box-three .food-imgs .col-4 .inside-img {
  display: flex;
  position: relative;
}
.box-three .food-imgs .col-4 .inside-img .icon {
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-three .food-imgs .col-4 .inside-img .icon:hover a {
  color: #FF6363;
  transition: 0.4s;
}
.box-three .food-imgs .col-4 .inside-img .icon a {
  font-size: 21px;
  color: #DBE2E5;
}
.box-three .food-imgs .col-4 .inside-img img {
  border-radius: 30px;
}
.box-three .food-imgs .col-4 .text-title h2 {
  width: 352px;
  height: 64px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.04em;
  color: #000000;
}
.box-three .food-imgs .col-4 .watch-spoon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: flex-start;
  width: 93%;
  gap: 30px;
}
.box-three .food-imgs .col-4 .watch-spoon .watch {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.box-three .food-imgs .col-4 .watch-spoon .watch a:nth-child(1) {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.box-three .food-imgs .col-4 .watch-spoon .watch a:nth-child(2) {
  text-decoration: none;
  width: 73px;
  height: 17px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.6);
}
.box-three .food-imgs .col-4 .watch-spoon .spoon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.box-three .food-imgs .col-4 .watch-spoon .spoon a:nth-child(1) {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.box-three .food-imgs .col-4 .watch-spoon .spoon a:nth-child(2) {
  text-decoration: none;
  width: 73px;
  height: 17px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.6);
}
.box-three .food-imgs .other {
  background-image: url("../../assets/box-three/Rectangle 14.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box-three .food-imgs .other h2 {
  width: 172px;
  height: 60px;
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}
.box-three .food-imgs .other img {
  width: 284px;
  height: 256px;
}
.box-three .food-imgs .other a {
  text-decoration: none;
  width: 137px;
  height: 17px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.6);
}

.box-four {
  justify-content: space-between;
  padding: 143px 20px;
}
.box-four .text-side {
  width: 550px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.box-four .text-side h1 {
  width: 506px;
  height: 116px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #000000;
}
.box-four .text-side p {
  width: 508px;
  height: 84px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.6);
}
.box-four .text-side a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 180px;
  height: 60px;
  background-color: #000000;
  border-radius: 16px;
}
.box-four .text-side a h5 {
  width: 75px;
  height: 17px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.box-four .img-side {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.box-four .img-side .bg-img {
  width: 651px;
  height: 500px;
  background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
.box-four .img-side .bg-img .chef {
  position: absolute;
  bottom: 0px;
}
.box-four .img-side .bg-img .leaf {
  position: absolute;
  right: -50px;
  top: 100px;
}
.box-four .img-side .bg-img .meat {
  position: absolute;
  top: -10px;
  left: 40px;
}
.box-four .img-side .bg-img .tomato {
  position: absolute;
  left: -20px;
  bottom: 100px;
}
.box-four .img-side .bg-img .onion {
  position: absolute;
  top: 0;
  right: 80px;
}

.box-five {
  height: 964px;
  width: 100%;
  background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
}
.box-five .text-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.box-five .text-title h1 {
  width: 796px;
  height: 58px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
}
.box-five .text-title p {
  width: 840px;
  height: 56px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
.box-five .insta-page {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.box-five .insta-page .col-3 {
  width: 290px;
  height: 445.44px;
}
.box-five .insta-page .col-3 .top-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 150px;
  width: 290px;
  height: 41.76px;
  background-color: #FFFFFF;
  box-shadow: 0px 0.2552px 0px rgba(60, 60, 67, 0.29);
}
.box-five .insta-page .col-3 .top-page .logo-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.box-five .insta-page .col-3 .top-page .logo-side img {
  width: 24.75px;
  height: 24.75px;
}
.box-five .insta-page .col-3 .top-page .logo-side .brand-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.box-five .insta-page .col-3 .top-page .logo-side .brand-name a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: 2px;
  height: 14px;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 10.0533px;
  line-height: 20px;
  letter-spacing: -0.0773333px;
  color: #262626;
}
.box-five .insta-page .col-3 .top-page .logo-side .brand-name a i {
  color: #3897F0;
  font-size: 8px;
}
.box-five .insta-page .col-3 .top-page .logo-side .brand-name h4 {
  height: 10.05px;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 8.50667px;
  line-height: 18px;
  letter-spacing: 0.0541333px;
  color: #262626;
}
.box-five .insta-page .col-3 .top-page .dots a {
  text-decoration: none;
  color: black;
}
.box-five .insta-page .col-3 .middle-page {
  display: flex;
  width: 290px;
  height: 290px;
  position: relative;
}
.box-five .insta-page .col-3 .middle-page .numbers {
  width: 26.29px;
  height: 20.11px;
  background-color: rgba(18, 18, 18, 0.7);
  border-radius: 10.0533px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 12px;
  top: 12px;
}
.box-five .insta-page .col-3 .middle-page .numbers h3 {
  width: 13.92px;
  height: 10.83px;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 9.28px;
  line-height: 18px;
  color: #F9F9F9;
}
.box-five .insta-page .col-3 .footer-page {
  width: 290px;
  height: 135px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  gap: 6px;
}
.box-five .insta-page .col-3 .footer-page .icons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.box-five .insta-page .col-3 .footer-page .icons .left-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 30%;
}
.box-five .insta-page .col-3 .footer-page .icons .left-icons a {
  text-decoration: none;
  font-size: 17px;
  color: #000000;
}
.box-five .insta-page .col-3 .footer-page .icons .middle-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-five .insta-page .col-3 .footer-page .icons .middle-icons a {
  color: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-five .insta-page .col-3 .footer-page .icons .middle-icons a i {
  font-size: 22px;
}
.box-five .insta-page .col-3 .footer-page .icons .middle-icons a i:hover {
  color: #3897F0;
}
.box-five .insta-page .col-3 .footer-page .icons .right-icons {
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.box-five .insta-page .col-3 .footer-page .icons .right-icons a {
  text-decoration: none;
  color: #262626;
  font-size: 18px;
}
.box-five .insta-page .col-3 .footer-page .text-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.box-five .insta-page .col-3 .footer-page .text-image img {
  width: 13.15px;
  height: 13.15px;
}
.box-five .insta-page .col-3 .footer-page .text-image p {
  height: 13.92px;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 10.0533px;
  line-height: 32px;
  letter-spacing: -0.0541333px;
  color: #262626;
}
.box-five .insta-page .col-3 .footer-page .comment {
  height: 27.84px;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 500;
  font-size: 10.0533px;
  line-height: 14px;
  letter-spacing: -0.0773333px;
  color: #262626;
}
.box-five .insta-page .col-3 .footer-page .date h3 {
  height: 10.05px;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 8.50667px;
  line-height: 10px;
  letter-spacing: 0.0386667px;
  color: rgba(0, 0, 0, 0.4);
}
.box-five .visit-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.box-five .visit-btn .btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 229px;
  height: 60px;
  background-color: #000000;
  border-radius: 16px;
}
.box-five .visit-btn .btn a:nth-child(1) {
  text-decoration: none;
  width: 126px;
  height: 17px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.box-five .visit-btn .btn a:nth-child(2) {
  text-decoration: none;
  color: #FFFFFF;
}

.box-six {
  padding-top: 160px;
  padding-bottom: 160px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  gap: 50px;
}
.box-six .title-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.box-six .title-text h1 {
  width: 507px;
  height: 116px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #000000;
}
.box-six .title-text p {
  width: 620px;
  height: 56px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.6);
}
.box-six .img-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 9px;
}
.box-six .img-box .col-3 {
  width: 290px;
  height: 316px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 12px;
}
.box-six .img-box .col-3 .imgLike {
  display: flex;
  flex-direction: row;
}
.box-six .img-box .col-3 .imgLike img {
  width: 290px;
  height: 200px;
  border-radius: 20px;
}
.box-six .img-box .col-3 .imgLike a {
  position: absolute;
  right: 12px;
  top: 12px;
  text-decoration: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box-six .img-box .col-3 .imgLike a:hover i {
  color: #FF6363;
  transition: 0.4s;
}
.box-six .img-box .col-3 .imgLike a i {
  color: #DBE2E5;
  font-size: 20px;
}
.box-six .img-box .col-3 h3 {
  width: 290px;
  height: 52px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.04em;
  color: #000000;
}
.box-six .img-box .col-3 .watch-spoon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 290px;
  justify-content: flex-start;
  gap: 40px;
}
.box-six .img-box .col-3 .watch-spoon .watch {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}
.box-six .img-box .col-3 .watch-spoon .watch a {
  text-decoration: none;
  color: black;
}
.box-six .img-box .col-3 .watch-spoon .watch h3 {
  width: 73px;
  height: 17px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.6);
}
.box-six .img-box .col-3 .watch-spoon .spoon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}
.box-six .img-box .col-3 .watch-spoon .spoon a {
  text-decoration: none;
  color: black;
}
.box-six .img-box .col-3 .watch-spoon .spoon h3 {
  width: 73px;
  height: 17px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.6);
}

.box-seven {
  width: 1280px;
  height: 442px;
  background-color: #E7F9FD;
  border-radius: 60px;
}
.box-seven .inbox {
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.box-seven .inbox .left-img {
  width: 409.54px;
  height: 400.08px;
  position: absolute;
  left: 0;
  bottom: 6px;
}
.box-seven .inbox .left-img img {
  width: 100%;
  border-radius: 50px;
}
.box-seven .inbox .text-inbox {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}
.box-seven .inbox .text-inbox h1 {
  width: 589px;
  height: 58px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #000000;
}
.box-seven .inbox .text-inbox p {
  width: 620px;
  height: 56px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
.box-seven .inbox .text-inbox .input-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.box-seven .inbox .text-inbox .input-box input {
  width: 480px;
  height: 80px;
  background-color: #FFFFFF;
  border-radius: 24px;
  border: none;
}
.box-seven .inbox .text-inbox .input-box input::-webkit-input-placeholder {
  width: 134px;
  height: 17px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  padding-left: 40px;
  color: rgba(0, 0, 0, 0.4);
}
.box-seven .inbox .text-inbox .input-box .button {
  width: 160px;
  height: 60px;
  background-color: #000000;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
}
.box-seven .inbox .text-inbox .input-box .button:hover a {
  color: rgba(255, 255, 255, 0.537254902);
  transition: 0.4s;
}
.box-seven .inbox .text-inbox .input-box .button a {
  text-decoration: none;
  width: 67px;
  height: 17px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.box-seven .inbox .leafe {
  position: absolute;
  right: 220px;
  bottom: 100px;
  transform: rotate(-15deg);
}
.box-seven .inbox .right-img {
  width: 355.07px;
  height: 355.62px;
  filter: drop-shadow(0px 10px 24px rgba(0, 0, 0, 0.1));
  position: absolute;
  right: -96px;
  bottom: -115px;
}
.box-seven .inbox .right-img img {
  border-radius: 50px;
}

.footer {
  flex-direction: row;
  width: 100%;
  padding-top: 160px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.footer .left-side {
  width: 50%;
}
.footer .left-side .text {
  display: flex;
  flex-direction: column;
}
.footer .left-side .text h3 {
  width: 110px;
  height: 30px;
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
.footer .left-side .text h3 b {
  color: #FF7426;
}
.footer .left-side .text p {
  width: 400px;
  height: 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.6);
}
.footer .right-side {
  width: 50%;
}
.footer .right-side .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.footer .right-side .menu li {
  list-style: none;
}
.footer .right-side .menu li a {
  text-decoration: none;
  width: 59px;
  height: 19px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #000000;
}

.footer-copyrights {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: flex-end;
  justify-content: flex-end;
}
.footer-copyrights .copy {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.footer-copyrights .copy p {
  width: 336px;
  height: 23px;
  font-family: "Eudoxus Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.6);
}
.footer-copyrights .copy p .orange {
  color: #FF7967;
}
.footer-copyrights .social-networks {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 30px;
}
.footer-copyrights .social-networks a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */